<div class="header-container">
  <div class="logo" (click)="goToHome()">
    <span class="logotext">R</span>
    <img
      src="../../assets/images/clipart1627195.png"
      alt="logo"
      class="logoimage"
    />
    <span>tten P</span>
    <img
      src="../../assets/images/clipart1627195.png"
      alt="logo"
      class="logoimage"
    />
    <span>tat</span>
    <img
      src="../../assets/images/clipart1627195.png"
      alt="logo"
      class="logoimage"
    />
    <span>es</span>
  </div>
  <div class="logout">
    <button class="btn btn-dark" (click)="logout()">Logout</button>
  </div>
</div>
