.home-container {
    display: flex;
    position: relative;
    overflow-x: hidden;

    .show-popular-movie-btn {
        position: fixed;
        width: 160px;
        top: 95px;
        right: -5px;
        background: #ff9900;
        color: black;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        font-size: small;
        z-index: 100;
    }

    .all-movies {
        flex: 1;
        min-height: calc(100vh - 80px);

        padding: 20px 40px;
        font-family: "Roboto", sans-serif;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 35px 0px;

            h4 {
                text-transform: uppercase;
                font-weight: bold;
                border-left: 5px solid #ff9900;
                padding-left: 10px;
                transition: all 0.5s ease-in-out;
            }

            h4:hover {
                border-left: none;
                transition: all 0.5s ease-in-out;
            }

            .view-all {
                color: #ff9900;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                padding: 5px;
                border-radius: 6px;
            }

            .view-all:hover {
                background-color: #ff9900;
                color: aliceblue;
                transition: all 0.3s ease-in-out;
            }

        }

        .movie-thumbnail {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;

            .movie {
                .movie-cover-image {
                    img {
                        border-radius: 5px;
                    }
                }

                .details {
                    width: 180px;
                }

                .name {
                    font-weight: bold;
                    height: 50px;
                    margin-top: 5px;
                    cursor: pointer;
                }

            }
        }
    }

    .popular-movies {
        width: 25%;
        min-height: calc(100vh - 80px);
        padding: 20px 40px;
        font-family: "Roboto", sans-serif;
        animation: slider 0.1s linear;
        border-left: 2px solid #fdc827;

        h4 {
            text-transform: uppercase;
            font-weight: bold;
            border-left: 5px solid #ff9900;
            padding-left: 10px;
        }

        .movie {
            margin-bottom: 20px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .name {
                font-weight: bold;
                cursor: pointer;
            }
        }

        .view-all {
            color: #ff9900;
            text-align: right;
            margin-top: 30px;
            cursor: pointer;
        }
    }
}

.rating {
    padding-right: 45px;
    position: relative;

    .rating-value {
        position: absolute;
        top: 12px;
        right: 0px;
        font-weight: bold;
    }
}

// .animation-attempt {
//     position: absolute;
//     animation: slider 1s linear;
// }

@keyframes slider {
    0% {
        transform: translateX(300px);
    }

    100% {
        transform: translateX(0px);
    }
}